* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik Mono One', sans-serif;
}

nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.buttonContainer, .buttonContainer:visited {
    float: left;
    background-color: white;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 40px;
}

a {
    display: inline-block;
    padding: 15px 20px;
}

.buttonContainer:hover {
    box-shadow: -5px 5px 8px 1px rgba(0, 0, 0, 0.2);
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
}

.Button {
    color: black;
    text-decoration: none;
}

.sectionBackground {
    width: 100%;
    height: 100vh;
}

#Section1 {
    background-color: #ff0000;
}

#Section2 {
    background-color: #008000;
}

#Section3 {
    background-color: #ffff00;
}

.yellow {
    color: #ffff00;
}

.green {
    color: #008000;
}

h1 {
    font-size: 50px;
    position: absolute;
    top: 70vh;
}

.Sectionwidth {
    max-width: 40%;
    margin: auto;
    text-align: center;
    position: relative;
}

img {
    transform-origin: center;
    transform: translate(-40px, 150px);
}